@layer variable {
    :root {
        --font-family: 'Cascadia Code';
        --circle-red-bg: #ff5f5a;
        --circle-yellow-bg: #ffbe2e;
        --circle-green-bg: #2aca44;
        --bg-color: #000;
        --font-color: #fff;
        --code-box-shadow: rgba(9, 9, 121, 1);
    }
}

@layer font {
    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: lighter;
        src: url('assets/fonts/CascadiaCode-ExtraLight.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: lighter;
        src: url('assets/fonts/CascadiaCode-ExtraLightItalic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: normal;
        src: url('assets/fonts/CascadiaCode-Italic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 300;
        src: url('assets/fonts/CascadiaCode-Light.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: 300;
        src: url('assets/fonts/CascadiaCode-LightItalic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 400;
        src: url('assets/fonts/CascadiaCode-Regular.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 500;
        src: url('assets/fonts/CascadiaCode-SemiBold.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: 500;
        src: url('assets/fonts/CascadiaCode-SemiBoldItalic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 200;
        src: url('assets/fonts/CascadiaCode-SemiLight.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: 200;
        src: url('assets/fonts/CascadiaCode-SemiLightItalic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        src: url('assets/fonts/CascadiaCode.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        src: url('assets/fonts/CascadiaCodeItalic.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: bold;
        src: url('assets/fonts/CascadiaCode-Bold.woff2') format('woff2'),
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: italic;
        font-weight: bold;
        src: url('assets/fonts/CascadiaCode-BoldItalic.woff2') format('woff2'),
    }
}

@layer theme {
    @media (prefers-color-scheme: dark) {
        * {
            --bg-color: black;
            --font-color: white;
            --code-box-shadow: rgba(9, 9, 121, 1);
            background: var(--bg-color);
            color: var(--font-color);
        }

        #section1 {
            .code {
                .code-content {

                    .datatype,
                    .booleanValue {
                        color: #326dad;
                    }

                    .variable {
                        color: #4fc1ff;
                    }

                    .bracket {
                        color: #efa800;
                    }

                    .square-bracket,
                    .square-bracket-end {
                        color: #da4b75;
                    }

                    .property,
                    .propertyValue {
                        color: #9cd6f0;
                    }

                    .function-property {
                        color: #cfc68f;
                    }

                    .stringValue {
                        color: #ce9178;
                    }
                }
            }
        }
    }

    @media (prefers-color-scheme: light) {
        * {
            --bg-color: white;
            --font-color: black;
            --code-box-shadow: rgba(9, 9, 121, 0.2);
            background: var(--bg-color);
            color: var(--font-color);
        }

        #section1 {
            .code {
                .code-content {

                    .datatype,
                    .booleanValue {
                        color: #3100ff;
                    }

                    .variable {
                        color: #0085d3;
                    }

                    .bracket {
                        color: #1c89fc;
                    }

                    .square-bracket,
                    .square-bracket-end {
                        color: #31b0d1;
                    }

                    .property,
                    .propertyValue {
                        color: #001080;
                    }

                    .function-property {
                        color: #795e26;
                    }

                    .stringValue {
                        color: #c36342;
                    }
                }
            }
        }
    }
}

@layer animation {
    @keyframes blinking {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@layer responsive {
    @media screen and (max-width:1430px) {
        #section1 {
            .code {
                .code-content {
                    font-size: 18px !important;
                }
            }
        }
    }

    @media screen and (max-width:1290px) {
        #section1 {
            .code {
                .code-content {
                    font-size: 16px !important;
                }
            }
        }
    }

    @media screen and (max-width:1100px) {
        #section1 {
            flex-direction: column;

            .terminal {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100% !important;

                .terminal-header {
                    width: 43dvw !important;
                }

                .terminal-content {
                    height: 100px !important;
                    width: 45dvw !important;
                    display: flex;
                }
            }

            .code {
                width: 90% !important;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    @media screen and (max-width:700px) {
        #section1 {
            .terminal {
                .terminal-header {
                    span {
                        font-size: 15px !important;
                    }
                }

                .terminal-content {
                    font-size: 15px !important;
                }
            }

            .code {
                .code-content {
                    font-size: 13px !important;
                }
            }
        }
    }

    @media screen and (max-width:500px) {
        #section1 {
            .terminal {
                .terminal-header {
                    span {
                        font-size: 13px !important;
                    }
                }

                .terminal-content {
                    font-size: 13px !important;
                }
            }
        }
    }
}

* {
    font-family: "Cascadia Code", monospace, sans-serif;
}

body {
    height: 100dvh;
    max-width: 100dvw;
    margin: 0;
}

#section1 {
    display: flex;
    align-items: center;
    height: 100dvh;
    justify-content: space-evenly;

    .terminal {
        width: 30dvw;

        .terminal-header {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: white;
                border-radius: 3px;
            }

            span {
                font-weight: bold;
            }
        }

        .terminal-content {
            font-size: 20px;
            font-weight: bold;
            height: 90px;
        }
    }

    .code {
        font-weight: 500;
        line-height: 1.5;
        font-size: 20px;
        width: 40dvw;

        border: 1px solid transparent;
        background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box, linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgb(255 6 92) 20%, rgba(9, 9, 121, 1) 50%) border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 300px 0px var(--code-box-shadow);
        border-bottom: 1px solid rgba(9, 9, 121);

        .code-header {
            display: flex;
            margin: 2% 0 0 0;
            padding: 0 2% 2% 2%;
            border-bottom: 1px solid transparent;
            background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box, linear-gradient(90deg, rgba(9, 9, 121, 1), rgba(9, 9, 121, 1)) border-box;

            .circle-red,
            .circle-yellow,
            .circle-green {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin-right: 5px;
            }

            .circle-red {
                background-color: var(--circle-red-bg);
            }

            .circle-yellow {
                background-color: var(--circle-yellow-bg);
            }

            .circle-green {
                background-color: var(--circle-green-bg);
            }
        }

        .code-content {
            margin: 2%;

            .square-bracket-end::before {
                content: "    ";
                white-space: pre;
            }

            .property::before {
                content: "    ";
                white-space: pre
            }

            .function-property::before {
                content: "    ";
                white-space: pre;
            }

            .stringValue.newline::before {
                content: "        ";
                white-space: pre;
            }
        }
    }

    .command-text-cursor {
        animation: blinking 1.1s infinite cubic-bezier(0.96, -0.77, 0, 1.6);
    }
}

#section2 {
    height: 100dvh;

    & #section2-head,
    #section2-end {
        color: #c22085;
        padding-left: 20dvw;
    }

    & #section2-head::before {
        content: "<";
    }

    & #section2-head::after {
        content: ">";
    }

    & #section2-end::before {
        content: "</";
    }

    & #section2-end::after {
        content: ">";
    }

}

#section3 {
    height: 100dvh;

    & #section3-head,
    #section3-end {
        color: #2d9687;
        padding-left: 20dvw;
    }

    & #section3-head::before {
        content: "<";
    }

    & #section3-head::after {
        content: ">";
    }

    & #section3-end::before {
        content: "</";
    }

    & #section3-end::after {
        content: ">";
    }

}

#section4 {
    height: 100dvh;

    & #section4-head,
    #section4-end {
        padding-left: 20dvw;
    }

    & #section4-head::before {
        content: "<";
    }

    & #section4-head::after {
        content: ">";
    }

    & #section4-end::before {
        content: "</";
    }

    & #section4-end::after {
        content: ">";
    }
}